*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto'; 
    font-size: 18px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar:horizontal{
    height: 3px;
}
::-webkit-scrollbar-track{
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background: rgb(182, 0, 0);
}
.nav{
    background: rgb(182, 0, 0);
}
.active{
    font-weight: 500;
    font-size: 18px;
}
.font{
    font-family: 'Pacifico';
    text-align: center;
    font-weight: 1000;
    color: rgb(182, 0, 0)
}
.carrossel { 
    /* temporario */
    width: 100%;
    min-height: 700px;
}
.destaque{
    margin: 50px;
}
.novidades{
    margin-top:10px;
    border: solid 2px rgb(182, 0, 0);
    height: auto;
}
.subtitulo{
    margin: 5px;
    font-size: 30px;
}
.col-sm-8{
    padding: 20px;
}
.parte3{ 
    background: rgb(182, 0, 0);
    color:#fff;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
}
.parte5{
    padding: 0 50px 0 50px;
}
.container-fluid ul{
    list-style: none;
    text-decoration: none;
}
.container-fluid ul li a{
    color: #fff;
}
.col-rodape{
    border-right:2px solid rgb(148, 25, 25);
    height: 200px;
    padding: 5px 10px 5px 10px;
}
.col-rodape a {
    color: #fff;
    margin-right: 5px;
}
.container-fluid h5{
    text-align: center;
    font-weight: 400;
    font-family: 'pacifico';
}
.parte2{
    background-color: rgb(94, 0, 0);
    margin: 0;
    height: 50px;
    text-align: center;
    font-weight: 300;
    color: white;
    padding: 10px;
}
.col-rodape ul{
margin:5px;
}
.col-rodape:last-child{
    border:0;
}
.parte4{
    padding: 20px;
    background: rgb(182, 0, 0);
}
.parte6{
    background: rgb(255, 200, 0);
    padding: 50px;
    font-weight: 400;
    margin-top: 30px;
}
.col-rodape ul li a:hover{
    font-weight:300;
}
.cartao{
    width: 100%;
    min-height: auto;
    text-align: center;
    border-radius: 0 0 20px 20px;
    border-right: solid 1px rgb(182, 0, 0);
    border-bottom: solid 1px rgb(182, 0, 0);
    border-left: solid 1px rgb(182,0,0);
    padding: 10px;
    background-color: #fff; 
    margin-bottom: 30px;
    color:#000;
}
.cartao2 img{
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0 0;
}
.cartao h2{
    margin-bottom: 15px;
}
.cartao a{
    color:rgb(182,0,0);
}
.cartao .font{
    margin-bottom: 20px;
}
.tamanhoMax{
    min-height: 350px;
}
.btn-danger{
    background:rgb(182,0,0) !important;
}
#contato{
    border:rgb(182,0,0) solid 2px;
    margin-top:30px;
    padding: 50px;
}
.subir{
    display: none;
    position:fixed;
    bottom: 50px;
    right: 50px;
    width: 75px;
    height: 75px;
    background: rgb(182, 0, 0);
    color:#fff;
    text-align: center;
    border-radius: 5px;
    line-height: 75px;
    z-index: 16; 
    font-size: 18pt;
    cursor: pointer; 
}
.tipo1{
    position: fixed !important;
    z-index: 16;
    width: 100%;
    top: 0 !important;
    background: rgb(182, 0, 0);
}
.tipo2{
    width: 100%;
    background: linear-gradient(to bottom,rgb(184,0,0), rgb(92,0,0));
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 16;
}
.tipo2 ul{
    margin: 0;
}
.tipo2 a{
    color:#fff;
    font-family: 'Pacifico';
    font-size: 20px;
}
.tipo2 li{
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.compra{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.item{
    position: absolute;
    top:50%;
    display: none;
    left:50%;
    width: 400px;
    min-height:500px;
    margin-left: -200px;
    margin-top: -250px;
    color: #fff;
    z-index: 17;
    opacity: 1;
}
.fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 1000;
    font-size: 25pt;
    color: #fff;
}
.fechar:hover{
    cursor: pointer;
}
.preco{
    margin: 10px 0 15px 0;
    font-weight: 1000;
    color: rgb(182, 0, 0);
    font-size: 20pt;
}
.info{
    font-size: 16px;
    font-weight: 1000;
    color:#000;
}
.margem{
    border-right: solid 3px rgb(182,0,0);
    order:0;
}
.longe{
    margin: 30px;
}
.longe2{
    margin-bottom: 10px;
}
.subitem{
    text-align: left;
    margin: 20px;
}
.parte3 a:hover{
    color: rgb(255,200,0);
}
.parte7{
    margin-bottom: 30px;
}
.itemCarrinho{
    float: left;
    width: auto;
    font-size: 15px;
    position: relative;
    min-height: 80px;
    text-align: left;
    border-radius: 20px;
    background: #fff;
    padding: 5px;
    text-align: center;
    margin: 0 10px 10px 0;
    display: flex;
    align-items: center;
    border: lightgray 1px solid;
}
.flexbox{
    display: flex;
    order:0;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}
.itemCarrinho img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
}
.itemCarrinho i{
    margin-left: 10px;
}
.quantidade{
    display: none;
}
.fa-minus-circle{
    color: rgb(182, 0, 0);
}
.fa-minus-circle::before{
    font-size: 2em;
}
.fa-minus-circle:hover{
    cursor: pointer;
}
.total2{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 20pt;
}
.total{
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center; 
    padding: 10px;
}
.carrinhoFixo{
    position: fixed;
    top: 200px;
    right: 0;
    z-index: 16;   
}
.carrinhoFixo i::before{
    width: 100px;
    height: 200px;
    font-size: 70px;
    color: rgb(182, 0, 0);
}
@media screen and (max-width:991px){
    .margem{
        border-right: 0;
        order:2;
    }
    .flexbox{
        order:1;
    }
    .margem h2{
        margin-top:30px;
    }
}
.logo{
    height: 56px;
    width: 100px;
}
@media screen and (max-width: 767px){
    .col-rodape{
        height: auto;
        border-right: 0;
        margin-bottom: 10px;
    }
    .parte3, .container-fluid h5{
        text-align: left;
    }
    .subir{
        bottom: 20px;
        right: 20px;
    }
}